:root {
  --highlight-color: rgb(205, 92, 92);

  --background-color: rgb(255, 239, 213);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);

  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYXB1OTluamNsbnZ0bTZ0eHJ2YmJuNWFmbmtndjBhN285NWJoaWx1ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/f4IjBQupqojhqQzKk2/giphy.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
}

.buffy-img {
  height: 30vw;
  outline: groove 1rem var(--highlight-color);
  filter: grayscale(10%);
  border: 0.5%;
  clip-path: polygon(
    3% 0,
    7% 1%,
    11% 0%,
    16% 2%,
    20% 0,
    23% 2%,
    28% 2%,
    32% 1%,
    35% 1%,
    39% 3%,
    41% 1%,
    45% 0%,
    47% 2%,
    50% 2%,
    53% 0,
    58% 2%,
    60% 2%,
    63% 1%,
    65% 0%,
    67% 2%,
    69% 2%,
    73% 1%,
    76% 1%,
    79% 0,
    82% 1%,
    85% 0,
    87% 1%,
    89% 0,
    92% 1%,
    96% 0,
    98% 3%,
    99% 3%,
    99% 6%,
    100% 11%,
    98% 15%,
    100% 21%,
    99% 28%,
    100% 32%,
    99% 35%,
    99% 40%,
    100% 43%,
    99% 48%,
    100% 53%,
    100% 57%,
    99% 60%,
    100% 64%,
    100% 68%,
    99% 72%,
    100% 75%,
    100% 79%,
    99% 83%,
    100% 86%,
    100% 90%,
    99% 94%,
    99% 98%,
    95% 99%,
    92% 99%,
    89% 100%,
    86% 99%,
    83% 100%,
    77% 99%,
    72% 100%,
    66% 98%,
    62% 100%,
    59% 99%,
    54% 99%,
    49% 100%,
    46% 98%,
    43% 100%,
    40% 98%,
    38% 100%,
    35% 99%,
    31% 100%,
    28% 99%,
    25% 99%,
    22% 100%,
    19% 99%,
    16% 100%,
    13% 99%,
    10% 99%,
    7% 100%,
    4% 99%,
    2% 97%,
    1% 97%,
    0% 94%,
    1% 89%,
    0% 84%,
    1% 81%,
    0 76%,
    0 71%,
    1% 66%,
    0% 64%,
    0% 61%,
    0% 59%,
    1% 54%,
    0% 49%,
    1% 45%,
    0% 40%,
    1% 37%,
    0% 34%,
    1% 29%,
    0% 23%,
    2% 20%,
    1% 17%,
    1% 13%,
    0 10%,
    1% 6%,
    1% 3%
  );
}

/* BAT */

.bats img {
  height: 40px;
}

/* ANIMATION */

.spin-anim {
  animation: bloody-spin 15s linear;
  transition: all 1s ease-in-out;
}

.flying-anim {
  animation: flying-fall 15s linear infinite;
  transition: all 1s ease-in-out;
  position: absolute;
  mask-image: linear-gradient(
    to bottom,
    var(--background-color) 0%,
    transparent 100%
  );
}

.flying-anim:first-of-type {
  right: 50%;

  animation-delay: 4s, 2s;
}

.flying-anim:last-of-type {
  right: 75%;
  animation-delay: 1s, 2s;
}

@keyframes bloody-spin {
  0% {
    transform: scale(0.1) rotate(0deg) translateY(0) scaleX(0.85);
    border-radius: 50%;
    opacity: 0.2;
  }
  40% {
    transform: scale(1) rotate(360deg);
    border-radius: 0 100% 100% 100%;
    opacity: 1;
  }

  48% {
    transform: translateY(120%) scale(0.1) scaleX(0.85) rotate(45deg);
  }

  80% {
    transform: translateY(60vh) scale(0.5) scaleX(0.85) rotate(45deg);
  }
}

@keyframes flying-fall {
  0% {
    transform: translateX(0px);
    top: -10%;
    opacity: 0.3;
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
    top: 100%;
  }
}
